In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
customer_demographic = pd.read_excel('Client Data.xlsx', sheet_name=1, header=1)

C:\Users\manis\AppData\Local\Temp\ipykernel_15692\1693966361.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customer_demographic = pd.read_excel('Client Data.xlsx', sheet_name=1, header=1)

In [3]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [4]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,720,Darrel,Canet,Male,67,1931-10-23,Recruiting Manager,Retail,Affluent Customer,N,1;DROP TABLE users,No,6.0
1,1092,Katlin,Creddon,Female,56,1935-08-22,VP Quality Control,Retail,Mass Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,No,5.0
2,3410,Merrili,Brittin,Female,93,1940-09-22,NaN,Property,Mass Customer,N,á,No,16.0
3,2413,Abbey,Murrow,Male,27,1943-08-11,Environmental Specialist,Manufacturing,High Net Worth,N,á,Yes,17.0
4,658,Donn,Bonnell,Male,38,1944-01-24,Tax Accountant,Manufacturing,Affluent Customer,N,ì¬íê³¼íì ì´íì°êµ¬ì,Yes,8.0

In [5]:
customer_demographic.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [6]:
customer_demographic.describe()

       customer_id  past_3_years_bike_related_purchases       tenure
count  4000.000000                          4000.000000  3913.000000
mean   2000.500000                            48.890000    10.657041
std    1154.844867                            28.715005     5.660146
min       1.000000                             0.000000     1.000000
25%    1000.750000                            24.000000     6.000000
50%    2000.500000                            48.000000    11.000000
75%    3000.250000                            73.000000    15.000000
max    4000.000000                            99.000000    22.000000

In [7]:
# drop the column with corrupted data
del customer_demographic['default']

In [8]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  owns_car                             4000 non-null   object
 11  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 375.1+ KB

In [9]:
# make sure the ID only contain legitimate digits
customer_demographic['customer_id'] = customer_demographic['customer_id'].astype('int64')

In [10]:
# make sure that gender is a category
customer_demographic['gender'] = customer_demographic['gender'].astype('category')

In [11]:
# check the entered data
customer_demographic['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

In [12]:
# replace all the misspelt or differently formatted data
customer_demographic['gender'].replace({'M' : 'Male', 'F' : 'Female', 'Femal' : 'Female'}, inplace=True)

In [13]:
customer_demographic['gender'].value_counts()

Female    2039
Male      1873
U           88
Name: gender, dtype: int64

In [14]:
# check the frequency of different job titles
customer_demographic['job_title'].value_counts()

Business Systems Development Analyst    45
Social Worker                           44
Tax Accountant                          44
Internal Auditor                        42
Legal Assistant                         41
                                        ..
Human Resources Assistant IV             4
Research Assistant III                   3
Health Coach I                           3
Health Coach III                         3
Developer I                              1
Name: job_title, Length: 195, dtype: int64

In [17]:
customer_demographic['job_title'].mode()[0]

'Business Systems Development Analyst'

In [35]:
customer_demographic['job_title'].fillna(customer_demographic['job_title'].mode()[0], inplace=True)

In [22]:
# check the frequency of job industries
customer_demographic['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [23]:
customer_demographic['job_industry_category'].mode()[0]

'Manufacturing'

In [36]:
customer_demographic['job_industry_category'].fillna(customer_demographic['job_industry_category'].mode()[0], inplace=True)

In [25]:
# make sure all dates are in the correct format
customer_demographic['DOB'] = customer_demographic['DOB'].dt.date

In [26]:
# convert to boolean data type
f = {'N': False, 'Y': True}
customer_demographic['deceased_indicator'] = customer_demographic['deceased_indicator'].map(f).fillna(customer_demographic['deceased_indicator'])

In [27]:
# convert to boolean data type
g = {'No': False, 'Yes': True}
customer_demographic['owns_car'] = customer_demographic['owns_car'].map(g).fillna(customer_demographic['owns_car'])

In [28]:
customer_demographic['tenure'].median()

11.0

In [37]:
# filling in the missing value for tenure
customer_demographic['tenure'].fillna(value = 11.0, inplace=True)

In [38]:
# make sure that the column names are in the correct format
customer_demographic.columns = map(str.lower, customer_demographic.columns)
customer_demographic.columns = map(str.strip, customer_demographic.columns)

In [39]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   category
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   dob                                  3913 non-null   object
 6   job_title                            4000 non-null   object
 7   job_industry_category                4000 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   bool
 10  owns_car                             4000 non-null   bool
 11  tenure                               4000 non-null   float64
dtypes: bool(2), category(1), float64(1), int64(2), object(6)
memory usage: 293.2+ KB

In [40]:
customer_demographic.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,dob,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,720,Darrel,Canet,Male,67,1931-10-23,Recruiting Manager,Retail,Affluent Customer,False,False,6.0
1,1092,Katlin,Creddon,Female,56,1935-08-22,VP Quality Control,Retail,Mass Customer,False,False,5.0
2,3410,Merrili,Brittin,Female,93,1940-09-22,Business Systems Development Analyst,Property,Mass Customer,False,False,16.0
3,2413,Abbey,Murrow,Male,27,1943-08-11,Environmental Specialist,Manufacturing,High Net Worth,False,True,17.0
4,658,Donn,Bonnell,Male,38,1944-01-24,Tax Accountant,Manufacturing,Affluent Customer,False,True,8.0

In [41]:
customer_demographic.isna().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
dob                                     87
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
dtype: int64

In [49]:
# filling in the missing value for last_name
customer_demographic['last_name'].fillna(value = 'Missing', inplace=True)

In [50]:
customer_demographic.isna().sum()

customer_id                             0
first_name                              0
last_name                               0
gender                                  0
past_3_years_bike_related_purchases     0
dob                                    87
job_title                               0
job_industry_category                   0
wealth_segment                          0
deceased_indicator                      0
owns_car                                0
tenure                                  0
dtype: int64

In [51]:
#print to csv file after the cleaning
customer_demographic.to_csv('./customer_demographic_cleaned.csv',index=False)